@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG&display=swap');
body {
  font-family: 'Inter', sans-serif;
}
.fa-solid {
  /* display: none; */
  color: white;
}
p {
  font-size: 1rem;
  font-family: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
h3 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  text-align: center;
}
.btn-primary {
  background-color: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  width: 200px;
  height: 48px;
  border: none;
  color: white;
}

.btn-app {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  width: 200px;
  height: 48px;
  border: none;
  color: white;
}
.container {
  width: 100%;
}
.bg-color {
  background-color: rgb(0, 0, 0);
}
.org-color {
  background-color: rgb(230, 83, 60);
}
/* 1st section start */
.nav-bar {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 8rem;
}
.home-bar {
  display: flex;
  gap: 20px;
}
.fit h2 {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}
.home-bar {
  font-size: 1.2rem;
  font-weight: 400px;
  color: white;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 5px;
}
.home-bar button {
  background-color: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
  border-radius: 20px;
  width: 92px;
  height: 38px;
  border: none;
}
.nav-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(
    360deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}
.nav-section-title {
  margin-left: 100px;
  padding: 1rem;
}

.nav-section-img {
  /* border: 2px solid green; */
}
.nav-section-img img {
  text-align: left;
  margin-left: 250px;
}

.nav-section-title h1 {
  font-size: 4.8rem;
  font-weight: 900;
  color: white;
}
.shape {
  font-family: 'Playwrite BE VLG', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav-section-title p {
  text-align: start;
}
.nav-box1 {
  border-radius: 10px;
  padding: 12px;
  width: 150px;
  border: none;
  margin-left: 450px;
  margin-top: 150px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  color: white;
  z-index: 1;
}
.nav-box2 {
  border-radius: 10px;
  padding: 12px;
  width: 150px;
  border: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  margin-top: 450px;
  margin-left: 180px;
  color: white;
  z-index: 2;
}
#nav-section-bg {
}

#shape {
  font-family: 'Dancing Script';
}

.video-tutorial {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  width: 12rem;
  height: 98px;
}

.video-tutorial p {
  text-align: center;
}
/* .nav-section-img {
} */

/* Change hyour habit section */
.habit-section {
  background-color: rgb(0, 0, 0);
  margin: 0 aut0;
  padding: 5rem;
}

.habit-section p {
  text-align: center;
}
.img-card {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
.card {
  margin: 0 auto;
  text-align: center;
}
/* .img-card p {
  text-align: center;
}
.img-card h5 {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
} */
.card img {
  border-radius: 50%;
  /* margin-left: 1.25rem; */
}
/* Run an Extra Mile Easily section start */

.run-section {
  display: flex;
  width: 70%;
  background-color: rgb(34, 34, 34);
  justify-content: space-between;
  padding: 3rem;
  margin: 0 auto;
  border-radius: 18px;
  margin-bottom: 0px;
}

.run-section-img img {
  width: 100%;
  border-radius: 18px;
}
.run-section-title h3,
p {
  text-align: start;
}

/* calculation section start */
.calculation-section {
  background-color: rgb(0, 0, 0);
  margin: 0 aut0;
  padding: 5rem;
}
.calculation-section p {
  text-align: center;
  margin-top: 0.8rem;
}
.calculation {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  background-color: rgb(34, 34, 34);
  padding: 5rem;
  margin: 0 auto;
  border-radius: 18px;
}
.calculation-chart h5 {
  font-size: 1.75rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.calculation table {
  color: rgba(255, 255, 255, 0.1);
  height: 216px;
  width: 300px;
}
.t-header {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.t-data {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}
.calculation-bmi h5 {
  font-size: 1.75rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  /* text-align: center; */
}
.calculation-bmi p {
  text-align: start;
  font-size: 0.9rem;
  font-weight: 400;
}
.calculation-bmi input,
.calculation-bmi select {
  background-color: transparent;
  color: white;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
#select-option {
  background-color: transparent;
  color: white;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  width: 70%;
}
.calculation-bmi button {
  margin-top: 1rem;
}
/* background: rgba(255, 255, 255, 0.1);
  border: none;
}
/* meet the team section start */
.meet-team-section {
  background-color: rgb(0, 0, 0);
  padding: 5rem;
}
.meet-team-section p {
  text-align: center;
}
.team-section-college {
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 18px;
}
.row-1 img,
.row-2 img {
  width: 100%;
  height: 250px;
  border-radius: 18px;
  margin-top: 2rem;
  margin-left: 0.8rem;
  margin: 0 auto;
}
.row-1,
.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}
.row-2 {
  margin-top: 1rem;
}
.team-section-college h5 {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 900px;
  color: rgb(255, 255, 255);
  transform: translate(20%, -350%);
}

/* footer section start */
footer {
  background-color: rgb(34, 34, 34);
  padding: 5rem;
}
.footer-fitness h2 {
  font-size: 4.3rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}
.footer-fitness p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.footer-section {
  display: flex;
  justify-content: space-between;
}
.footer-platform {
  display: flex;
  gap: 10rem;
}
.get-start h5 {
  font-size: 2rem;
  font-weight: 700px;
  color: rgb(255, 255, 255);
}
.get-start p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
hr {
  color: white;
}
.horizental {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  border: 2px rgba(255, 255, 255, 0.1);
}
.copy-right {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}

/* meedia quarey for mobile */

@media screen and (max-width: 576px) {
  .fa-solid {
    display: inline;
    color: white;
  }
  .btn-primary {
    background-color: rgb(230, 83, 60);
    padding: 5px auto;
    border-radius: 20px;
    width: 180px;
    height: 48px;
    border: none;
    color: white;
  }
  .btn-app {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    width: 180px;
    height: 48px;
    border: none;
    color: white;
  }
  #select-option {
    width: 100%;
  }
  .header-title {
    text-align: center;
    padding: 1rem;
  }
  .team-section-college,
  .calculation-chart {
    background-attachment: fixed;
    /* width: 100%; */
  }
  .row-1,
  .row-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .row-1 img,
  .row-2 img {
    height: 180px;
    margin-left: 0px;
  }
  .nav-section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .home-bar button,
  .home-bar p {
    display: none;
  }
  .fit {
    text-align: left;
  }
  .nav-section-title {
    margin: 0;
  }
  .nav-section-title,
  .nav-section-title p {
    text-align: left;
  }
  .nav-section-title h1 {
    font-size: 3rem;
  }
  .nav-section-title p,
  .run-section-title p {
    font-size: 1rem;
  }

  .nav-section-img img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  .nav-box1 {
    margin-left: 200px;
    margin-top: 150px;
    width: 140px;
    padding: 7px;
  }
  .nav-box2 {
    width: 130px;
    padding: 7px;
    margin: 0 auto;
    margin-top: 400px;
    position: absolute;
    z-index: 1;
  }
  .habit-section h3,
  .run-section-title h3,
  .calculation-section h3,
  .meet-team-section h3 {
    font-size: 2rem;
    margin-top: 0;
  }
  .habit-section p {
    text-align: center;
  }
  .img-card {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .run-section {
    display: grid;
    grid-template-columns: repeat(1fr);
  }
  .run-section-title {
  }
  .run-section-img img {
    height: 350px;
    margin-top: 20px;
    text-align: center;
  }

  .calculation {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .calculation-section {
    padding: 0;
  }
  .calculation-bmi input,
  .calculation-bmi select {
    width: 300px;
  }
  .team-section-college {
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 18px;
  }
  footer {
    background-color: rgb(34, 34, 34);
    padding: 2rem;
  }

  .footer-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-platform {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .get-start p {
    text-align: start;
  }
  .copy-right {
    text-align: center;
  }
}
